
<div class="col-3 col-md-0 console side-nav">
    <ul class='list-group'>
     {% for link in site.nav %}
        <div>{{ link.url[0] }}</div>
        {% if link.url contains 'http' %}
           <a href="{{ link.url }}" class="list-group-item list-group-item-action">
              {{ link.name }}
           </a>
        {% else %}

          <a href="{{ site_prefix | append: link.url }}" class="list-group-item list-group-item-action">
            {{ link.name }}
          </a>
        {% endif %}

     {% endfor %}
     <li>Recent Updates</li>
     {% for link in site.posts limit:3 %}

        <a href="{{ site_prefix | append: link.url }}" class="list-group-item list-group-item-action">
          {{ link.title  }}
        </a>

     {% endfor %}
     <li>Presentations</li>
     {% for link in site.data.presentations reversed %}

        <a href="{{ site_prefix | append: '/presentations#' }}{{ link.title | replace: ' ', ''| downcase   }}" class="list-group-item list-group-item-action">
          {{ link.title  }}
        </a>

     {% endfor %}
   </ul>
   <!-- take an input and put different data depending if main or blog? -->
</div>