{% capture main_content %}
    <div class="col-sm-12 col-md-12 col-lg-9 card">
        <div class="card-body readable">
          <div>{{ content }}</div>
          <h2><strong>Latest News!</strong></h2>
          {% assign post = site.posts.first %}
          <ul>
            <li>
               <strong> Date:</strong> {{post.date | date: "%a, %b %d, %Y" }}
            </li>
            <li>
               <strong> categories:</strong> {{post.categories}}
            </li>
            <li class='announcement-title' >
                <a href="{{ post.url | prepend: site_prefix }}">
                  <strong>{{post.title}}</strong>
                </a>
            </li>
          </ul>
          <div>{{ post.content }}</div>

       </div>
    </div>

{% endcapture %}


{% include wrapper.html main_content=main_content  %}